@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --light-cyan-color: hsl(193, 38%, 86%);
    --neon-green-color: hsl(150, 100%, 66%);
    --grayish-blue-color: hsl(217, 19%, 38%);
    --dark-grayish-blue-color: hsl(217, 19%, 24%);
    --dark-blue-color: hsl(218, 23%, 16%);
    --common-ff: 'Manrope', sans-serif; 
}

* {
    margin: 0;
    padding: 0;
}


.mobile {
    display: none;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-grayish-blue-color);
    border-radius: 12px;
}

body {
    background-color: var(--dark-blue-color);
}

.card-content {
    font-family: var(--common-ff);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
}

.card-button {
    position: absolute;
    border: 0;
    outline: 0;
    background-color: var(--neon-green-color);
    border-radius: 50%;
    top: 90%;
    width: 40px;
    height: 40px;
    transition: .3s;
}

.card-title {
    color: var(--neon-green-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}

.card-text {
    color: var(--light-cyan-color);
    margin: 1rem 0;
    font-size: 28px;
}

.divider {
    margin-bottom: 1rem;
}

.card-button-icon {
    width: 14px;
    height: 14px;
}

.card-button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px var(--neon-green-color);
}

@media screen and (max-width: 768px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .card-button {
        top: 93%;
    }
}